<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swein.androidndktool">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidNDKTool">
        <activity
            android:name=".examples.exceptionexample.ExceptionExampleActivity"
            android:exported="false" />
        <activity
            android:name=".examples.referenceexample.ReferenceExampleActivity"
            android:exported="false" />
        <activity
            android:name=".examples.create_object_in_cpp_and_return_it_to_app_end.CreateObjectInCppAndReturnItToAppActivity"
            android:exported="false" />
        <activity
            android:name=".examples.interfacecallbackexample.InterfaceCallbackExampleActivity"
            android:exported="false" />
        <activity
            android:name=".examples.objectmethodexample.ObjectMethodExampleActivity"
            android:exported="false" />
        <activity
            android:name=".examples.objectfieldexample.ObjectFieldExampleActivity"
            android:exported="false" />
        <activity
            android:name=".examples.arraytype.ArrayTypeActivity"
            android:exported="false" />
        <activity
            android:name=".examples.stringexample.StringExampleActivity"
            android:exported="false" />
        <activity
            android:name=".examples.datatype.DataTypeExampleActivity"
            android:exported="false" />
        <activity
            android:name=".examples.dynamicload.DynamicLoadExampleActivity"
            android:exported="false" />
        <activity
            android:name=".examples.basic.BasicExampleActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>